---
layout: default
---

<div class="home">


    <table class="achievement">
        <tr>
            <th>Сервис</th>
            <th>Название курса, сертификат, отзыв</th>
            <th>Дата завершения</th>
        </tr>
        {% for post in site.posts %}
        {% assign categories = post.categories %}{% for category in categories %}
        {% if category == "pluralsight" %}
        {% assign date_format = site.minima.date_format | default: "%d.%m.%Y" %}
        <tr>
            <td><img src="/assets/img/pluralsight.png" class="achievement-img"></td>
            <td><a class="achievement-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></td>
            <td><span class="achievement-date">{{ post.date | date: date_format }}</span></td>
        </tr>

        {% endif %}
        {% if category == "udemy" %}
        {% assign date_format = site.minima.date_format | default: "%d.%m.%Y" %}
        <tr>
            <td><img src="/assets/img/udemy.png" class="achievement-img"></td>
            <td><a class="achievement-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></td>
            <td><span class="achievement-date">{{ post.date | date: date_format }}</span></td>
        </tr>
        {% endif %}
        {% if category == "coursera" %}
        {% assign date_format = site.minima.date_format | default: "%d.%m.%Y" %}
        <tr>
            <td><img src="/assets/img/coursera.png" class="achievement-img"></td>
            <td><a class="achievement-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></td>
            <td><span class="achievement-date">{{ post.date | date: date_format }}</span></td>
        </tr>
        {% endif %}
        {% if category == "sololearn" %}
        {% assign date_format = site.minima.date_format | default: "%d.%m.%Y" %}
        <tr>
            <td><img src="/assets/img/sololearn.png" class="achievement-img"></td>
            <td><a class="achievement-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></td>
            <td><span class="achievement-date">{{ post.date | date: date_format }}</span></td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </table>
    <div id="andmore" style="margin-top: 30px;">
        <h3>А также набор от CodeSchool</h3>
    <img src="/assets/img/completed-try-git-b54d1cd9fa940e4a3c1925056d38eca2.png" title="Try Git. Certificate of completion" alt="Try Git. Certificate of completion"  style="width: 90px;">
    <img src="/assets/img/completed-try-ruby-220eaa3eedcaf47135a02158592095cb.png" title="Try Ruby. Certificate of completion" alt="Try Ruby. Certificate of completion"  style="width: 90px;">
    <img src="/assets/img/completed-rails-for-zombies-245a73e57217e92710e1e15ce206f6e1.png" title="Rails for Zombies. Certificate of completion" alt="Rails for Zombies. Certificate of completion"  style="width: 90px;">
    <img src="/assets/img/completed-rails-for-zombies-2-632404d16a1f49d01f5c19105dae07be.png" title="Rails for Zombies 2. Certificate of completion" alt="Rails for Zombies 2. Certificate of completion"  style="width: 90px;">
    <img src="/assets/img/completed-rails-for-zombies-redux-0f73c361c3d5070ca2fa7951e65cbf39.png" title="Rails for Zombies redux. Certificate of completion" alt="Rails for Zombies redux. Certificate of completion"  style="width: 90px;">
    <img src="/assets/img/completed-assembling-sass-18b0ff2185f670f8cc1de4a8034b53b9.png" title="Assemling Saas. Certificate of completion" alt="Assemling Saas. Certificate of completion"  style="width: 90px;">
    <img src="/assets/img/completed-shaping-up-with-angularjs-54e59cc56157943f6691081338b94328.png" title="Shaping up with Angular JS. Certificate of completion" alt="Shaping up with Angular JS. Certificate of completion" style="width: 90px;">
</div>
</div>
