---
layout: default
---

<div class="home">
        <div id="disclaimer">Если вы видите страницу, в которой есть только заголовок без содержания - 
                это не баг, это я просто не успеваю и учиться и писать код и писать на сайт одновременно :) Со временем всё появится. Обещаю :)
              </div>
    {{ content }}

    <ul class="post-list">
        {% for post in site.posts %}
        <li>

            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <span class="post-meta excerpt">{{ post.date | date: date_format }}</span>
            {% assign categories = post.categories %}{% for category in categories %}
            {% if category == "прогресс" %}
            <span class="category-red">{{category}}</span>
            {% elsif category == "achievement" %}
            <span class="category-green">{{category}}</span>
            {% elsif category == "golang" %}
            <span class="category-blue">{{category}}</span>
            {% else %}
            <span class="category-gray">{{category}}</span>
            {% endif %}
                {% endfor %}

            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            {{ post.excerpt }}
            <div class="excerpt"><a href="{{ post.url | relative_url }}">Читать далее...</a></div>
        </li>
        {% endfor %}
    </ul>

</div>